div(class="banner")
    div(class="container")
        div(class="banner__wrap")
            div(class="banner__content")
                div(class="banner__content-left") 20%
                div(class="banner__content-right")
                    div(class="banner__desc") Đăng ký
                    div(class="banner__main") Tài khoản đầu tiên
            div(class="banner__button") Mua ngay