div(class="result")
    div(class="result__total") <b>#{totalProduct}</b> Sản phẩm được tìm thấy
    select(class="result__sort")
        option(class="result__option" value="title-desc") Thứ tự mặc định
        option(class="result__option" value="position-desc") Mới nhất
        option(class="result__option" value="position-asc") Cũ nhất
        option(class="result__option" value="priceNew-desc") Thứ tự theo giá: cao đến thấp
        option(class="result__option" value="priceNew-asc") Thứ tự theo giá: thấp đến cao