extends ../../layouts/default.pug

block main
    div(class="cart")
        div(class="container")
            h1(class="cart__title") #{pageTitle}

            div(class="information") !{information.faqs}
            
