mixin section-0-item(icon, title, desc)
    div(class="section-0__item")
        .section-0__icon 
            i(class=icon)
        .section-0__content
            .section-0__title #{title}
            .section-0__desc #{desc}