html
  head
    link(rel="stylesheet" href="/scss/404.scss")
  body
    h1 404 Error Page #2
    p.zoom-area
      b MaikaComputer
      |  Không tìm thấy trang này có đường dẫn như này
    section.error-container
      span.four
        span.screen-reader-text 4
      span.zero
        span.screen-reader-text 0
      span.four
        span.screen-reader-text 4
    .link-container
      a.more-link(href="/") Go to Home page
