extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main
    div(class="container")
        div(class="user")
            h1(class="user__title") #{pageTitle}
            form(class="user__form login" action="/user/password/forgot" method="POST")
                .user__forgot-title Quên mật khẩu
                .user__forgot-desc Vui lòng nhập tên người dùng hoặc địa chỉ email của bạn. Bạn sẽ nhận được liên kết để tạo mật khẩu mới qua email.
                label(for="email") Email của bạn
                input(type="email" name="email" id="email" required)
                button(type="submit" class="button user__button") Gửi mã OTP
                a(href="/user/login" class="user__remember") Bạn đã nhớ mật khẩu? Đăng nhập ngay