extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main
    div(class="container")
        div(class="user")
            h1(class="user__title") #{pageTitle}
            form(class="user__form login" action="/user/password/otp" method="POST")
                label(for="email") Email của bạn
                input(type="email" name="email" id="email" readonly value=email)
                label(for="otp") Nhập mã OTP
                input(type="number" name="otp" id="otp" required)
                button(type="submit" class="button user__button") Xác thực
                a(href="/user/login" class="user__remember") Bạn đã nhớ mật khẩu? Đăng nhập ngay