extends ../../layouts/default.pug
include ../../mixins/box-head.pug 

block main
    div(class="container")
        div(class="user")
            h1(class="user__title") #{pageTitle}
            form(class="user__form login" action="/user/password/reset" method="POST")
                label(for="password") Mật khẩu mới
                input(type="password" name="password" id="password" required class="form-password") 
                button(type="submit" class="button user__button") Đổi mật khẩu